* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  margin: 15px auto;
  width: 80%;
}

.creature-div {
  border: 2px solid grey;
  padding: 5%;
  border-radius: 10px;
  margin-top: 25px;
}

img {
  border: 2px solid grey;
  border-radius: 7px;
}
